div {                                         
    margin: 0 auto; 
    width: 600px;
    text-align: center;
    border: 1px Solid black;
    background-color: lightgrey;
}

div>p{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
span{
    font-size: 1.2rem;
    position: relative;
    bottom: 20px;
    color:rgb(3, 153, 3);
    display: none;
}
input{
    width: 300px;
    margin-left: 2%;
    float: inline-end;
}
.alert{
    color: red;
}